name: flutter_geo_hash
description: A library for generating geohashes, validating geographical data, and performing geospatial calculations.
version: 0.0.6
repository: https://github.com/miracle101000/GeoHash/tree/master
issue_tracker: https://github.com/miracle101000/GeoHash/issues

environment:
  sdk: ">=3.2.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
